.main .modal {
    position: absolute;
    width: 40%;
    z-index: 9999;
    margin: 0 auto;
    padding: 30px 30px 50px 30px ;
    background-color: #fff;
    top: 30%;
    left: 30%;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(40, 57, 79, 0.1);
    border: solid 1px #bae3ef;
    background-color: $white;
    display: flex;
    flex-direction: column;
    footer{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h3{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: start;
    }
    .select{
        position: relative;
        select {
            appearance: none;
            outline: 0;
            border: 0;
            box-shadow: none;
            background-image: none;
            cursor: pointer;
        }
        select::-ms-expand {
            display: none;
        }
        select{
            width: 100%;
            height: 50px;
            padding: 10px 16px 11px 13px;
            border-radius: 10px;
            border: solid 1px $water-blue-30;
            background-color: $white-three;
            margin-bottom: 30px;
            font-family: $font-roman;
        }
        &::after {
            // content: url("../../assets/img/svg-modal/linear/arrow-down.svg");
            position: absolute;
            top: 11px;
            left: 15px;
            background-color: transparent;
            transition: .25s all ease;
            pointer-events: none;
        }

    }
    .confirmation{
        width: 165px;
        height: 50px;
        flex-grow: 0;
        text-align: center;
        border-radius: 10px;
        background-color: $tealish;
        border: 0px;
        opacity: 1;
        align-self: end;
        color: #fff;
        font-family: $font-bold;
        font-size:1.125rem;
        cursor: pointer;
    }
}

.main .close{
    background-color:transparent;
    border: 0px;
    font-size:1.25rem;
    align-self: end;
    cursor: pointer;
}

.main .modal {
    direction: rtl;
    position: absolute;
    width: 40%;
    text-align: start;
    z-index: 9999;
    margin: 0 auto;
    padding: 30px 30px 50px 30px ;
    background-color: #fff;
    top: 30%;
    left: 30%;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(40, 57, 79, 0.1);
    border: solid 1px #bae3ef;
    background-color: $white;
    display: flex;
    flex-direction: column;
    h3{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }
    .select{
        position: relative;
        select {
            appearance: none;
            outline: 0;
            border: 0;
            box-shadow: none;
            background-image: none;
            cursor: pointer;
        }
        select::-ms-expand {
            display: none;
        }
        select{
            width: 100%;
            height: 50px;
            padding: 10px 16px 11px 13px;
            border-radius: 10px;
            border: solid 1px $water-blue-30;
            background-color: $white-three;
            margin-bottom: 30px;
            font-family: $font-roman;
        }
        &::after {
            // content: url("../../assets/img/svg-modal/linear/arrow-down.svg");
            position: absolute;
            top: 11px;
            left: 15px;
            background-color: transparent;
            transition: .25s all ease;
            pointer-events: none;
        }

    }
    .confirmation{
        width: 165px;
        height: 50px;
        flex-grow: 0;
        text-align: center;
        border-radius: 10px;
        background-color: $tealish;
        border: 0px;
        opacity: 1;
        align-self: end;
        color: #fff;
        font-family: $font-bold;
        font-size:1.125rem;
        cursor: pointer;
    }
}

.main .close{
    background-color:transparent;
    border: 0px;
    font-size:1.25rem;
    align-self: end;
    cursor: pointer;
}
