
@import "@/assets/sass/abstracts/_variable";
@import "@/assets/sass/_modal";

.table{
  height: 520px;
}
header {
    font-family: $font-bold;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
    color: #25265e;
    h1{
        font-size: 2rem;
        margin: 10px 0 30px 0;
    }
    p{
        font-size: 1.2rem;
    }
}
.overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

input[type="file"] {
  display: none;
}

.content {
  display: flex;
  justify-content: space-between;
}

.cropper-area {
  width: 100%;
}

body {
  font: 18px/28px 'Noto Sans', serif;
  padding:0;
  margin:0;
}

.pageSize{
   margin:0px 0 0 50px;
   font: 18px/28px 'Noto Sans', serif;
   padding: 5px 15px 5px 15px;
   width:382px;
   display:block;
}
#wrapper {
  margin-top:50px;
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
  }
}
.titlepageSize {
  margin: 50px
}

select:required:invalid {
  color: #666;
}
.message{
  width: 100%;
  text-align: center;
}

#datatable {
  font-family: $font-bold;
}
.table-form{
  margin: 30px 0;
  .search-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .select{
      width: 40%;
      display: flex;
      justify-content: flex-end;
    }
    .selectSearch{
      width: 15%;
      display: flex;
      justify-content: flex-end;
      &::after {
        content: '' !important;
      }
      select {
        &::after {
          content: '' !important;
        }
      }
      .pageSearch{
        width: 100%;
        border-radius: 15px;
        box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
        background-color: white;
        border: 0px;
        height: 45px;
        font-family: $font-bold;
      }
    }
    .search{
      width: 48%;
      margin-right: -8%;
    }
    .form-group{
      position: relative;
      input{
        padding: 0px 65px 0px 20px;
        border-radius: 15px;
        box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
        background-color: white;
        border: 0px;
        width: 80%;
        font-family: $font-bold;
      }
      img {
        width: 40px;
      }
      select{
        padding: 9px 25px 8px 20px;
        border-radius: 8px;
        border: 0px;
        background-color: white;
        width: 90%;
        color: #7a7a86;
        font-family: $font-bold;
        .disabled-option{
          color: #c9c9da;
        }
      }
    }
  }
}
.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  font-size: 1rem;
  border: 1px solid #d0cfce00;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
        transition: opacity 0.45s ease;
        opacity: 0;
     }
    &::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
     }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
     }
   }
 }

.search-icon{
  position: absolute;
  float: right;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 20px;
}
.pager {
  text-align:center;
  width:100%;
  margin:20px 0px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .inactive{
    color: gray;
    width: 48px;
    height: 48px;
    margin: 0 35px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(80, 80, 160, 0.16);
    background-color: #eff4ff;
    cursor:not-allowed;
    img{
      filter: invert(36%) sepia(68%) saturate(3240%) hue-rotate(225deg) brightness(101%) contrast(103%);
    }
  }
  span {
    font-weight:bold;
    text-decoration:underline;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    width: 48px;
    height: 48px;
    margin: 0 35px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(80, 80, 160, 0.16);
    background-color: #5864ff;
    img{
      filter: brightness(6);
    }
  }
  .pager-btn{
      background-color: #ffffff;
      display: flex;
      border-radius: 25px;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
  }
  button{
      background-color: transparent;
      border: 0;
      // padding: 10px 20px;
      width: 48px;
      height: 48px;
  }
  .active{
      padding: 11px 22px 12px;
      border-radius: 10px;
      box-shadow: 4px 4px 10px 0 rgba(80, 80, 160, 0.16);
      background-color: #5864ff;
      color: white;
  }
}

tr th {
  cursor: pointer;
    .thead{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .icon{
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        width: 13px;
        .arrow{
          display: flex;
        }
        div{
            color: #a0a8d6;
            filter: invert(69%) sepia(7%) saturate(1330%) hue-rotate(194deg) brightness(97%) contrast(90%);
        }
        .arrow-sort{
            color: #585d77;
            filter: invert(34%) sepia(11%) saturate(1131%) hue-rotate(193deg) brightness(99%) contrast(83%);
        }
    }
}
table {
  // border: 1px solid #ccc;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin: 0;
  padding: 0;
  width: calc(100% - 45px);
  table-layout: fixed;
  font-family: $font-bold;
  font-size: 0.9rem;
  tbody{
    background-color: transparent;
    tr{
      height: 80px;
      margin: 20px 0px 10px 0px;
      padding: 8px 20px 8px 40px;
      border-radius: 15px;
      color: #25265e;
      box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
      background-color: transparent;
      td{
        background-color: white;
      }
      td:first-child{
        border-radius: 0 15px 15px 0;
      }
      td:last-child{
        border-radius: 15px 0 0 15px;
      }
      .operation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 1205;
        padding: 0 5px 0 20px;
      }
      .delete{
        color: #ff6760;
      }
      .showing{
        color: #6090f7;
      }
      .edit{
        img{
          width: 25px;
        }
      }
      .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 33%;
        cursor: pointer;
        div{
          display: none;
          flex-direction: row;
          align-items: center;
        }
        &:hover{
          font-weight: bold;
        }
      }
    }
  }
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: transparent;
  // border: 1px solid #ddd;
  // padding: .35em;
}

table th,
table td {
  // padding: .625em;
  text-align: center;
}

table th {
  color: #878eb8;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.select{
    position: relative;
    select {
        appearance: none;
        outline: 0;
        border: 0;
        box-shadow: none;
        background-image: none;
        cursor: pointer;
    }
    select::-ms-expand {
        display: none;
    }
    select{
        width: 100%;
        height: 50px;
        padding: 10px 16px 11px 13px;
        border-radius: 10px;
        border: solid 1px $water-blue-30;
        background-color: $white-three;
        font-family: $font-roman;
    }
    &::after {
        content: url("../assets/img/list/priority-low.svg");
        position: absolute;
        top: 11px;
        left: 15px;
        width: 15px;
        background-color: transparent;
        transition: .25s all ease;
        pointer-events: none;
    }

}
.Pagesize{
  width: 56%;
}
@media only screen and (max-width: 500px) {
  .table{
    overflow: auto;
  }
  .table-form{
    margin: 30px 0;
    .search-container{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .select{
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
      .selectSearch{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .pageSearch{
          width: 100%;
          border-radius: 15px;
          box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
          background-color: white;
          border: 0px;
          height: 45px;
          font-family: $font-bold;
        }
      }
      .search{
        width: 100%;
        margin-right: 0%;
      }
      .form-group{
        position: relative;
        margin: 10px 0;
        input{
          padding: 0px 65px 0px 20px;
          border-radius: 15px;
          box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
          background-color: white;
          border: 0px;
          width: 80%;
          font-family: $font-bold;
        }
        img {
          width: 40px;
        }
        select{
          padding: 9px 15px 8px 20px;
          border-radius: 8px;
          border: 0px;
          background-color: white;
          width: 100%;
          color: #7a7a86;
          font-size: 0.9rem;
          font-family: $font-bold;
          .disabled-option{
            color: #c9c9da;
          }
        }
      }
    }
  }
  .search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }

  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    font-size: 1rem;
    border: 1px solid #d0cfce00;
    outline: none;
    &:focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
          transition: opacity 0.45s ease;
          opacity: 0;
      }
      &::-moz-placeholder {
          transition: opacity 0.45s ease;
          opacity: 0;
      }
      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }

  .search-icon{
    position: absolute;
    float: right;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 20px;
  }
}
@media only screen and (min-width: 500px) {
  .table{
    overflow: auto;
  }
  .table-form{
    margin: 30px 0;
    .search-container{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .select{
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
      .selectSearch{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .pageSearch{
          width: 100%;
          border-radius: 15px;
          box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
          background-color: white;
          border: 0px;
          height: 45px;
          font-family: $font-bold;
        }
      }
      .search{
        width: 100%;
        margin-right: 0%;
      }
      .form-group{
        position: relative;
        margin: 10px 0;
        input{
          padding: 0px 65px 0px 20px;
          border-radius: 15px;
          box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
          background-color: white;
          border: 0px;
          width: 80%;
          font-family: $font-bold;
        }
        img {
          width: 40px;
        }
        select{
          padding: 9px 15px 8px 20px;
          border-radius: 8px;
          border: 0px;
          background-color: white;
          width: 100%;
          color: #7a7a86;
          font-size: 0.9rem;
          font-family: $font-bold;
          .disabled-option{
            color: #c9c9da;
          }
        }
      }
    }
  }
  .search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }

  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    font-size: 1rem;
    border: 1px solid #d0cfce00;
    outline: none;
    &:focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
          transition: opacity 0.45s ease;
          opacity: 0;
      }
      &::-moz-placeholder {
          transition: opacity 0.45s ease;
          opacity: 0;
      }
      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }

  .search-icon{
    position: absolute;
    float: right;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 20px;
  }
}
@media only screen and (min-width: 798px) {
  .table-form{
    margin: 30px 0;
    .search-container{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      .select{
        width: 40%;
        display: flex;
        justify-content: flex-end;
      }
      .selectSearch{
        width: 25%;
        display: flex;
        justify-content: flex-end;
        .pageSearch{
          width: 100%;
          border-radius: 15px;
          box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
          background-color: white;
          border: 0px;
          height: 45px;
          font-family: $font-bold;
        }
      }
      .search{
        width: 50%;
        margin-right: -5% !important;
      }
      .form-group{
        position: relative;
        margin: 0;
        input{
          padding: 0px 65px 0px 20px;
          border-radius: 15px;
          box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
          background-color: white;
          border: 0px;
          width: 80%;
          font-family: $font-bold;
        }
        img {
          width: 40px;
        }
        select{
          padding: 9px 15px 8px 20px;
          border-radius: 8px;
          border: 0px;
          background-color: white;
          width: 90%;
          color: #7a7a86;
          font-size: 0.7rem;
          font-family: $font-bold;
          .disabled-option{
            color: #c9c9da;
          }
        }
      }
    }
  }
  .search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }

  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    font-size: 1rem;
    border: 1px solid #d0cfce00;
    outline: none;
    &:focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
          transition: opacity 0.45s ease;
          opacity: 0;
      }
      &::-moz-placeholder {
          transition: opacity 0.45s ease;
          opacity: 0;
      }
      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }

  .search-icon{
    position: absolute;
    float: right;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .table-form{
    margin: 30px 0;
    .search-container{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .select{
        width: 40%;
        display: flex;
        justify-content: flex-end;
      }
      .selectSearch{
        width: 15%;
        display: flex;
        justify-content: flex-end;
        .pageSearch{
          width: 100%;
          border-radius: 15px;
          box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
          background-color: white;
          border: 0px;
          height: 45px;
          font-family: $font-bold;
        }
      }
      .search{
        width: 48%;
        margin-right: -8%;
      }
      .form-group{
        position: relative;
        input{
          padding: 0px 65px 0px 20px;
          border-radius: 15px;
          box-shadow: -10px 10px 20px 0 rgba(37, 38, 94, 0.05);
          background-color: white;
          border: 0px;
          width: 80%;
          font-family: $font-bold;
        }
        img {
          width: 40px;
        }
        select{
          padding: 9px 25px 8px 20px;
          border-radius: 8px;
          border: 0px;
          background-color: white;
          width: 90%;
          color: #7a7a86;
          font-size: 0.8rem;
          font-family: $font-bold;
          .disabled-option{
            color: #c9c9da;
          }
        }
      }
    }
  }
  .search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }

  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    font-size: 1rem;
    border: 1px solid #d0cfce00;
    outline: none;
    &:focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
          transition: opacity 0.45s ease;
          opacity: 0;
      }
      &::-moz-placeholder {
          transition: opacity 0.45s ease;
          opacity: 0;
      }
      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }

  .search-icon{
    position: absolute;
    float: right;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .table{
    overflow: hidden;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}
